
:root {
  /* Основные шрифты */
  
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-cl: #2196F3;
  

  /* Темная тема фона*/
  --primary-bg--mode-dark: #191c26;
  --secondary-bg--mode-dark: #111319;
  --footer-background: #2F303A;
}


/* Common styles */
body {
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;
 
}
a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
link {
  text-decoration: none;
}
.logo-header {
  font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#000000;
}

.logo-footer {
  font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.logo-primary {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

  color: #2196F3;
}


.title {
  font-weight: 900;
}

.list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
}


.title {

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}


/* Header */

.nav-link
 {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;

}
.header-mail,
.header-phone {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:  #757575;;
}

.nav-link:hover,
.nav-link:focus {
  color:var(--accent-cl);
}

.header-phone  {
  text-transform: uppercase;
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-cl);
}

/* Hero */

.hero-title {

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
background-color: var(--footer-background);
}
.hero-btn {
font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.hero-btn:hover,
.hero-btn:focus 
{
  text-align: center;
  color: #FFFFFF;
  background-color: var(--accent-cl); 
}

.section-title {

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
  
.subtitle {
font-weight: 400;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #757575;
  
}

/* About us */
.about-title {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;

}

/* Team */

.team-headline {

font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: #757575;
 
}

/* Contacts */
.contacts {
  background-color: var(--footer-background);
}
.logo-secondary {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3
}

.contacts,
.contacts-adress,
.contacts-item
{
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.contacts-link
 {  
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: 
rgba(255, 255, 255, 0.6);

}


 
.contacts-link:hover,
.contacts-link:focus {
  color: #2196F3;
}
/* кнопки галереии */
.galerry-btn {
  font-family: var(--main-font);
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.galerry-btn:hover,
.galerry-btn:focus {
  text-align: center;
  color: #FFFFFF;
  background-color: var(--accent-cl);
}
/* Карты галереи */
.galerry-card {
  color: #212121;;
  font-size: 16px;
  line-height: 1.88;
}
.galerry-card .titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
}
.contacts-adress {
  color: #FFFFFF;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

}
.title-mode-light {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;

}

